<!DOCTYPE html>
<html>

<head>
    <title>Hospital</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">

</head>

<body>
    <header>
        <p>Contact Us +91 96366 20000/01/ukh@hospital.com hjhhhghg</p>
    </header>
    <div>

        <nav>
            <table>
                <tr>
                    <td style="font-size:50px;font-family:forte;"><span>SUPER</span> Hospital</td>
                    <td style="vertical-align: bottom;"><a href="{{ url_for('index') }}">HOME</a>
                        <a href="{{url_for('about_us') }}">ABOUT US</a>
                        <a href="{{url_for('services') }}">SERVICES</a>
                        <a href="{{url_for('doctors') }}">DOCTORS</a>
                        <a href="{{url_for('contact_us') }}">CONTACT US</a>
                        <a href="{{url_for('appointments') }}"> APPOINTMENT</a>

                    </td>
                </tr>
            </table>
        </nav>
    </div>
    <hr class="star" style="border:2px medium;">
    <div>
    
</div>
    <div>
        <div  class="ab">
            <p class="pargap">Welcome to <cite>SUPER Hospital</cite></p>
        
            <h3 class="pargap" >Best Medical & Health Care Needs to Our Patients</h3>
            <p class="pargap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore dolorum labore accusantium, officiis, sequi laboru   </p>
            <p class="pargap">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure nulla aut dicta sit odio delectus labore fugiat rerum nobis sequi itaque architecto expedita, optio numquam ut aspernatur debitis nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit iure nostrum totam praesentium harum quibusdam excepturi veritatis hic. Excepturi magnam dignissimos temporibus repellat velit tenetur repellendus laborum dicta iusto aliquam.</provident></p>
        </div>
        <div class="ab">
            <img class="im" src="../static/images/b.jpg"> 
        </div>
    </div>
    <hr class="star" style="border:2px medium;">
    <div class="pargap">
        <p>Address</p>
        <h3>SUPER HOSPITAL % Research Center</h3>
        <text>180,Shri Rampuri,Niwaru Road,<br>Kaal Road<br> Benad,Bharatpur Raj 302020<br> Contact No 0123456789<br> Email:ukh@hospital.com</p>
        
    </div>
    <footer>
        <div>
            <text>&copy;Super Hospital ,site designed & developed by MITRAz</text>
        </div>
    </footer>
    </body>
    </html>
