{% extends 'base.html' %}
{% block title %}Shipping Addresses{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Shipping Addresses</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Shipping ID</th>
                <th>Order ID</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for address in shipping_addresses %}
            <tr>
                <td>{{ address[2] }}</td> <!-- Full Name -->
                <td>{{ address[0] }}</td> <!-- Shipping ID -->
                <td>{{ address[1] }}</td> <!-- Order ID -->
                <td>{{ address[3] }}</td> <!-- Address -->
                <td>{{ address[4] }}</td> <!-- City -->
                <td>{{ address[5] }}</td> <!-- State -->
                <td>{{ address[6] }}</td> <!-- Zip Code -->
                <td>
                    <a href="#" class="btn btn-primary">Edit</a>
                    <form action="{{ url_for('delete_shipping_address', address_id=address[0]) }}" method="post" style="display: inline-block;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page > 1 %}
            <li class="page-item"><a class="page-link" href="{{ url_for('admin_shippingaddress', page=page-1) }}">Previous</a></li>
            {% endif %}
            
            {% for num in range(1, total_pages + 1) %}
                <li class="page-item {% if num == page %}active{% endif %}"><a class="page-link" href="{{ url_for('admin_shippingaddress', page=num) }}">{{ num }}</a></li>
            {% endfor %}
            
            {% if page < total_pages %}
            <li class="page-item"><a class="page-link" href="{{ url_for('admin_shippingaddress', page=page+1) }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
